// Portfolio Section
.portfolio-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1d1d1d;
  padding: 2rem 0;

  @media (max-width: 768px) {
    padding: 1rem;
  }
}

.portfolio {
  max-width: 1000px;
  text-align: center;

  h2 {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: rgb(8, 253, 216);

    @media (max-width: 768px) {
      font-size: 2rem;
    }
  }

  p {
    font-size: 1.1rem;
    color: #ccc;
    line-height: 1.6;
  }
}
